body {
  background-color: #e5f7e3;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
a {
  color: #3c0266;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #3c0266;
}
header {
  margin-bottom: 30px;
}

form {
  display: flex;
  margin-top: 20px;
}
.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 10px;
  opacity: 0.6;
}
.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
  color: #5c5c60;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 30px;
  line-height: 20px;
  color: #3c0266;
}
.submit-button {
  margin-left: 10px;
  background: #3c0266;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 30px;
  padding: 14px 24px;
}
.submit-button:hover {
  background: #c3efbd;
  color: #3c0266;
}
.poem {
  font-size: 16px;
  background-color: white;
  padding: 15px;
  line-height: 2;
  border-left: 3px solid #3c0266;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-radius: 10px;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
